.fixed-header, .fixed-footer{
    width: 100%;
    left: 0px;
    right: 0px;
    position: fixed;    
    background-color: #026cbb;        
    color: #fff;
    padding-bottom: 0.5%;
    
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 100%;
    left: 0px;
}
nav a{
    color: #fff;
    padding-left: 5%;
    right: 0px;
    display: inline-block;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    padding-right: 100px;
}